@charset "utf-8";
/* CSS Document */
.wrap{width:100%;background:url("../images/robot_bg.png") right 20px bottom 20px no-repeat rgba(255,255,255,0.9);border-top:3px solid #0da8a8;overflow:hidden;}

#title{margin-top:30px;color:#fff;overflow:hidden;}
#title h2{display:block;background:#343a55;font-size:22px;line-height:40px;text-indent:1em;}
#title span{display:block;text-align:right;line-height:40px;color:#333;}

#title2{margin-top:30px;color:#fff;overflow:hidden;}
#title2 h2{display:block;background: url(../images/menu_icon.png) left 20px center no-repeat #343a55;font-size:22px;padding:8px 0;text-indent:2em;}
#title2 span{display:block;text-align:right;padding:8px 0;border-bottom:3px solid #3da3a7;color:#333;}

.content{min-height:680px;padding:30px;}
.info-pic{display:block;float:right;}

@media screen and (max-width:767px){
body{background-image:none;}	
}

/*测试题页面*/
.tab-control{width:40%;margin:0 auto;overflow:hidden;}
.tab-control a{display:block;float:left;width:30%;text-align:center;font-size:16px;line-height:36px;text-decoration:none;color:#333;font-weight:bold;}
.tab-control a:hover,.tab-control a.active{color:#ef4c4d;}
a.no-border{border:0px;}
.no-border{border:0px;}
.content hr{width:90%;margin:0 auto;margin-top:10px;border-color:#aaa;border-style:dashed;}
.dot-xs{float:left;width:8px;height:8px;border-radius:50%;background-color:#aaa;margin-top:16px;}
/*拓展资源页面*/
.source-tab{display:block;margin:20px auto;overflow:hidden;}
.source-tab dd a{display:block;text-align:right;padding:44px 0 44px 104px;padding-right:20%;font-size:16px;color:#3da3a7;font-weight:bold;border-bottom:1px dashed #b6b6b6;}
.source-tab dd a:hover,.source-tab dd a.active{color:#ef4c4d;}
.source-tab .tab01{background:url(../images/source_icon01.png) left 8% center no-repeat;}
.source-tab .tab02{background:url(../images/source_icon02.png) left 8% center no-repeat;}
.source-tab .tab03{background:url(../images/source_icon03.png) left 8% center no-repeat;}
.source-tab .tab04{background:url(../images/source_icon04.png) left 8% center no-repeat;}
.source-tab .tab05{background:url(../images/source_icon05.png) left 8% center no-repeat;}
.source-tab .tab06{background:url(../images/source_icon06.png) left 8% center no-repeat;}
.source-border{border-left:1px solid #b6b6b6;margin:20px 0;}


.source-list li{display:block;border-bottom:1px dotted #ccc;padding-left:48px;background:url(../images/download.png) 10px 16px no-repeat;}
.source-list li:hover{background:url(../images/download_on.png) 10px 16px no-repeat #eee;}
.source-list a{display:block;font-size:14px;padding:10px 0;}
.source-list a{color:#333;}


.video-list li{display:block;border-bottom:1px dotted #ccc;padding-left:48px;background:url(../images/video_icon.png) 10px 12px no-repeat;}
.video-list li:hover{background:url(../images/video_icon_on.png) 10px 12px no-repeat #eee;}
.video-list a{display:block;font-size:14px;padding:6px 0;}
.video-list a{color:#333;}

@media screen and (max-width:400px){
.source-tab .tab01,.source-tab .tab02,.source-tab .tab03,.source-tab .tab04,.source-tab .tab05,.source-tab .tab06,.source-tab .tab01.active,.source-tab .tab02.active,.source-tab .tab03.active,.source-tab .tab04.active,.source-tab .tab05.active,.source-tab .tab06.active,.source-tab .tab01:hover,.source-tab .tab02:hover,.source-tab .tab03:hover,.source-tab .tab04:hover,.source-tab .tab05:hover,.source-tab .tab06:hover{background:none;}
.source-tab dd a{text-align:center;padding:0;line-height:32px;}
.tab-control{width:90%;}
}
.content h4{color:#0da8a8;font-weight:bold;line-height:48px;}
.content dl dt,.content dl dd{line-height:36px;}

/*课程学习页面*/
.leftmenu{background:rgba(255,255,255,0.9);overflow:hidden;margin-bottom:20px;padding-bottom:30px;min-height:680px;}
.leftmenu dd.panel{display:block;border-bottom:1px solid #b0b0b0;margin:6px 6px 6px 4px;}
.leftmenu dd.panel .first-menu{display:block;border-left:6px solid #b0b0b0;padding:14px 10px;color:#333;font-size:14px;text-decoration:none;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.leftmenu dd.panel .first-menu:hover,.leftmenu dd.panel .first-menu.on{border-left:6px solid #0da8a8;}
.menu-dot{position:absolute;top:1px;left:1px;width:50px;height:50px;background:url(../images/menu_dot.png) center no-repeat;cursor:pointer;}
.menu-dot:hover{background:url(../images/menu_dot_on.png) center no-repeat;}


.panel-collapse dd a{display:block;padding:0px 10px 0px 24px;line-height:48px;border-top:1px solid #ccc;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;cursor:pointer;}
.panel-collapse dd a.on,.panel-collapse dd a:hover{background:#ddd;color:#333;}

.third-menu{display:none;overflow:hidden;}
.panel-collapse .third-menu a{display:block;line-height:42px;padding-left:54px;background:url(../images/leftmenu_icon.png) left 24px center no-repeat;}
.panel-collapse .third-menu a:hover,.panel-collapse .third-menu a.on{background:url(../images/leftmenu_icon_on.png) left 24px center no-repeat #ef4c4d;color:#fff;}

.turnon{display:block;}


/*内容*/
.content h2{color:#0da8a8;line-height:48px;font-size:22px;}
.content h3{text-indent:2em;font-size:14px;line-height:48px;color:#333;font-weight:bold;background:url(../images/content_icon.png) left center no-repeat;}
.content img{display:block;margin:0 auto;}
/*图片阴影*/
.content img{ margin:15px auto; border:4px solid #fff; box-shadow:0px 0px 6px 3px rgba(0,0,0,0.2); }
.content p img{display:inline-block;border:0;box-shadow:none;margin:0;}
/*居中文字加粗*/
.content p.center{ font-size:11px; font-weight:bold;}
.center{text-align:center;}

.content-tab{width:100%;overflow:hidden;margin:0 auto;}
.content-tab a{display:block;float:left;text-align:center; border:1px solid #ccc;line-height:36px;font-size:14px;font-weight:bold;margin-bottom:14px;cursor:pointer;}
.tab01 a{width:100%;}
.tab02 a{width:50%;}
.tab03 a{width:25%;}
.tab04 a{width:12.5%;}
.content-tab a:hover,.content-tab a.active{background:#ccc;color:#333;}
#content1{display:block;}
#content2,#content3,#content4{display:none;}

.return{float:right;display:block;background-color:#0da8a8;padding:0 20px;color:#fff;margin-top:-40px;}
.return:hover{color:#fff;background-color:#343a55;}

/*点击图片显示*/
.img-btn{ display:block;cursor:pointer; background:url(../images/navigate_down.png) right 30px center no-repeat;border-bottom:1px dotted #ccc;line-height:36px;text-indent: 2em;font-size:14px;}
.img-hide{ display:none;padding:20px;}
.img400{width:400px;}
.img-hide a{font-weight:bold;color:#343a55;}
.img-hide a:hover{color:#0da8a8;}
/*.img-btn a{font-size:14px;}*/
.tab01 a,.tab02 a,.tab03 a,.tab04 a{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.tab01 a{width:100%;}
.tab02 a{width:50%;}
.tab03 a{width:33.3%;}
.tab04 a{width:25%;}
/*表格*/
.table{border:#0B79AE solid 1px;cellpadding:2px;text-align:center;margin:5px; font-size:14px; font-family:"微软雅黑";}
th,tr{border: #CCC solid 1px;text-align:center;padding:5px; font-size:14px; font-family:"微软雅黑";}
th{ background:#efefef;}	
td{border: #CCC solid 1px;text-align:left;padding:5px;padding-left:10px;font-size:14px; font-family:"微软雅黑";}
.content table{ width:100%;}

.img4{width:50%;float:left;}
.img3{width:33%;float:left;}


@media screen and (max-width:768px){
.leftmenu{display:none;position:absolute;z-index:999;}
.content{padding:15px;}
.tab-control{width:80%;}
}

/*返回顶部按钮*/
#xReturnTop{z-index:999;}

