body{
margin-left:5%;
margin-right:5%;
line-height:30px;
font-family:"Î¢ÈíÑÅºÚ";
}



.title_one{
 color:#29aae4; 
 font-size:18px; 
 line-height:30px;
 }

TEXTAREA.t {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 1px solid; WIDTH: 530px; COLOR: #000000; BORDER-BOTTOM: #666666 1px solid; HEIGHT: 60px
}

/*´ð°¸ÑÕÉ«*/
.corAns{color:#F00;}

.textDiv{
font-size:16px;
font-weight:bold;
}

.ansDiv{
margin-left:5%;
margin-right:5%;
font-size:16px;
line-height:20px;
background:#F1F1F1;
padding:0 20px;
}

.test{
padding-bottom:20px;
}
/*²Î¿¼´ð°¸*/
.ckda{
color: #F00;
font-weight:bold;}



